#    Copyright (C) 2019  Marcus Rickert
#
#    See https://github.com/marcus67/python_base_app
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

##################################################################################
# Please, beware that this file has been generated! Do not make any changes here #
# but only to python_base_app/templates/gitlab-ci.template.yml!                  #
##################################################################################

stages:
- build
- install_and_check

make_debian_package:
  image: accso/docker-python-app:latest
  stage: build
  script:
  - PYTHONPATH=contrib/python_base_app python3 ci_toolbox.py --execute-stage BUILD --use-dev-dir=.
  artifacts:
    paths:
    - debian/*.deb
  variables:
    # Activate automatic checkout for all sub modules
    GIT_SUBMODULE_STRATEGY: recursive

check_installation:
  image: accso/docker-python-app:latest
  stage: install_and_check
  script:
  - PYTHONPATH=contrib/python_base_app python3 ci_toolbox.py --execute-stage INSTALL
  - PYTHONPATH=contrib/python_base_app python3 ci_toolbox.py --execute-stage TEST --run-dir=/tmp 
  artifacts:
    when: always
    paths:
    - /var/log/little-brother/*.log*
    - ./htmlcov/*
  variables:
    # Suppress automatic checkout for all sub modules
    GIT_SUBMODULE_STRATEGY: recursive
