alembic==1.0.10
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.6.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
codecov==2.0.16
coverage==5.0.1
cryptography==2.6.1
Flask==1.0.2
Flask-Babel==0.12.2
flask-blueprint==1.2.7
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
idna==2.8
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
Mako==1.0.12
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
objectpath==0.6.1
pathlib2==2.3.3
pgi==0.0.11.2
playsound==1.2.2
pluggy==0.9.0
psutil==5.6.7
py==1.8.0
pycparser==2.19
pygi==1.0.3
pylint==2.3.1
PyMySQL==0.9.3
pytest==4.4.1
python-dateutil==2.8.0
python-editor==1.0.4
python-google-speak==0.1
python-Levenshtein==0.12.0
pyttsx3==2.7
pytz==2019.1
requests==2.22.0
ruamel.yaml==0.15.94
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.3.3
typed-ast==1.3.5
urllib3==1.25.8
Werkzeug==0.16.0
wrapt==1.11.1
WTForms==2.2.1
