alembic==1.0.10
python-google-speak==0.1
requests==2.22.0
psutil==5.6.7
python-dateutil==2.8.0
SQLAlchemy==1.3.3
PyMySQL==0.9.3
Flask==1.0.2
Flask-Login==0.4.1
Flask-Babel==0.12.2
Flask-Migrate
python-base-app>=0.1.3
flask_helpers
selenium==3.141.0
