Flask-Babel==3.1.*
Flask-Migrate==4.0.*
Flask-WTF==1.2.*
Flask==2.3.*
PyMySQL==1.1.*
SQLAlchemy==2.0.*
WTForms==3.0.*
alembic==1.12.*
distro==1.8.*
flask-login==0.6.*
humanize==4.8.*
lagom==2.5.*
mockito==1.4.*
packaging==23.*
prometheus_client==0.17.*
psutil==5.9.*
pytest==7.4.*
python-dateutil==2.8.*
requests==2.31.*
secure==0.3.*
urllib3==2.0.*
werkzeug==2.3.*

##############################################################################################################
# The package version of selenium is linked to the setup of the test environment (e.g. the version of Chrome).
# Changing the version here will probably entail having the change versions elsewhere!
##############################################################################################################
selenium==4.10.*
