[LittleBrother]
check_interval = 5
log_level=DEBUG
debug_mode=True

[AppControl]
#scan_active = true
scan_active = false
time_extension_periods = -30,-15,-5,-1,1,3,5,10,15,30,45,60


[MasterConnector]
access_token=abcdef

[PrometheusClient]
port=8889

[ClientDeviceHandler]
check_interval = 30

[RuleHandler]
warning_before_logout=2

[StatusServer]
host=0.0.0.0
port=5561
app_secret=Hallo!

[UnixUserHandler]
admin_username=admin
admin_password=mytest456
user_list=leon:1001, christoph:1002

[Persistence]
database_driver=sqlite
sqlite_dir = /tmp

[RuleSetLeon]
username=leon
locale=en

process_name_pattern=bash
min_time_of_day=0:00
max_time_of_day=23:59
max_time_per_day=1h
max_activity_duration=15m
min_break=2m

[RuleSetLeonWeekend]
username=leon
context=weekday
context_details=weekend
priority=2
process_name_pattern=bash
min_time_of_day=0:00
max_time_of_day=22:00
max_time_per_day=2h
max_activity_duration=30m
min_break=1m

[RuleSetLeonVacation]
username=leon
context=german-vacation-calendar
context_details=Nordrhein-Westfalen
context_label=vacation
priority=3
process_name_pattern=bash
min_time_of_day=8:30
max_time_of_day=21:00
max_time_per_day=4h
max_activity_duration=90m
min_break=30m
scan_devices = False

[RuleSetChristoph]
username=christoph
locale=de
process_name_pattern=bash
min_time_of_day=0:00
max_time_of_day=23:59
max_time_per_day=1h
max_activity_duration=15m
min_break=2m

[RuleSetChristophWeekend]
locale=en
username=christoph
context=weekday
context_details=weekend
priority=2
process_name_pattern=bash
min_time_of_day=0:00
max_time_of_day=22:00
max_time_per_day=2h
max_activity_duration=30m
min_break=1m

[ClientDeviceIPhoneChristoph]
name= iphone_christoph
username = christoph
hostname = iphone.de
min_activity_duration = 120
max_active_ping_delay = 50

[ClientDeviceIPhoneLeon]
name= iphone_leon
username = leon
hostname = iphone-joshua.chaos
min_activity_duration = 120
max_active_ping_delay = 50
