#    Copyright (C) 2019  Marcus Rickert
#
#    See https://github.com/marcus67/little_brother
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

# This file contains a test configuration for the class RuleSetConfigModel

# This is a simple ruleset for a user (user1) consisting of a simple rule:
# * All processes matching 'sh' will be tracked.
# * No access before 16:00 hours (4PM) or after 23:00 hours (11PM).
# * The overall access time is limited to 1 hour and 30 minutes.
# * The maximum access time per session is 20 minutes.
# * After each access session there will have to be a break period of at least 10 minutes.

[RuleSetUser1]
username=user1
process_name_pattern=.*sh|systemd
min_time_of_day=16:00
max_time_of_day=23:00
max_time_per_day=1h30m
max_activity_duration=20m
min_break=10m

# This is a more elaborate rule set for 'user2' consisting of three rules and an extra device specification.
# The rules have a priority value (defaults to 1) associated with them. Rules with higher values take
# precedence over rules with lower values.
#
# Common to all rules:
#
# * All processes matching shells or systemd sessions will be tracked.
# * The configured devices will be checked for usage.

# Priority 4 (Maybe Wednesdays are special?!)
#
# * Free play mode

[RuleSetUser2Wednesdays]
username=user2
priority=4
context=weekday
context_details=wednesday
free_play=true

# Priority 3 (weekend rule = valid for Saturdays and Sundays)
#
# * No access before 9:00 hours (9AM) or after 21:00 hours (9PM).
# * The overall access time is limited to 2 hours and 40 minutes.
# * The maximum access time per session is one hour.
# * After each access session there will have to be a break period of at least 30 minutes.

[RuleSetUser2Weekend]
username=user2
priority=3
context=weekday
context_details=weekend
process_name_pattern=.*sh|systemd
min_time_of_day=9:00
max_time_of_day=21:00
max_time_per_day=160m
max_activity_duration=1h
min_break=30m
scan_devices = true

# Priority 2 (vacation rule defined by the German vacation schedule (downloaded from the internet)
#
# * No access before 8:30 hours (8:30AM) or after 22:00 hours (10PM).
# * The overall access time is limited to 4 hours.
# * The maximum access time per session is one hour and 30 minutes.
# * After each access session there will have to be a break period of at least 30 minutes.

[RuleSetUser2Vacation]
username=user2
priority=2
context=german-vacation-calendar
context_details=Nordrhein-Westfalen
context_label=vacation
process_name_pattern=.*sh|systemd
min_time_of_day=8:30
max_time_of_day=22:00
max_time_per_day=4h
max_activity_duration=90m
min_break=30m
scan_devices = true

# Priority 1 (default rule as "catch all")
#
# * No access before 16:00 hours (4PM) or after 19:30 hours (7:30PM).
# * The overall access time is limited to 45 minutes.
# * The maximum access time per session is 45 minutes.
# * After each access session there will have to be a break period of at least 30 minutes.

[RuleSetUser2Default]
username=user2
locale=en
process_name_pattern=.*sh|systemd
context_label=Standard
min_time_of_day=16:00
max_time_of_day=19:30
max_time_per_day=45m
max_activity_duration=45m
min_break=30m
scan_devices = true

