<app-nav-bar></app-nav-bar>
<div class="container rounded-2 overflow-hidden">
  <DIV CLASS="row title-row bg-primary-subtle">
    <DIV CLASS="col col-2 col-lg-1 localetext">User</DIV>
    <DIV CLASS="col col-2 col-lg-1 localetext">Context</DIV>
    <DIV CLASS="col col-2 col-lg-2 localetext">
      Today's Activity
      <div *ngIf="hasDowntime; then todayHasDowntime"></div>
        <ng-template #todayHasDowntime><DIV CLASS="downtime">Downtime</DIV></ng-template>
    </DIV>

    <DIV CLASS="col col-2 col-lg-2  localetext">Current Start Time</DIV>
    <DIV CLASS="col col-2 col-lg-2  localetext">
      Current Duration
      <div *ngIf="hasDowntime; then currentActivityHasDowntime"></div>
        <ng-template #currentActivityHasDowntime><DIV CLASS="downtime">Downtime</DIV></ng-template>
    </DIV>
    <DIV CLASS="col col-2 col-lg-1  localetext">Activity permitted</DIV>
    <DIV CLASS="col col-2 col-lg-3 localetext">Reasons</DIV>
  </DIV>

  <DIV *ngFor="let entry of userAdmin" CLASS="row title-row bg-secondary-subtle" >
    <DIV CLASS="col col-2 col-lg-1 localetext"><a [routerLink]="['/admin', entry.user_status?.user_id]">{{ entry.user_status?.full_name }}</a></DIV>
    <DIV CLASS="col col-2 col-lg-1 localetext">{{ entry.user_status?.context_label }}</DIV>
    <DIV CLASS="col col-2 col-lg-2 localetext">
      {{ entry.user_status?.todays_activity_duration() }} /
      <div *ngIf="entry.user_status?.free_play; then freePlay else noFreePlay"></div>
        <ng-template #freePlay>unlimited</ng-template>
        <ng-template #noFreePlay>{{ entry.user_status?.max_time_per_day() }}</ng-template>
      <div *ngIf="entry.user_status?.todays_downtime_in_seconds; then downtime"></div>
        <ng-template #downtime><DIV CLASS="downtime"> {{ entry.user_status?.todays_downtime() }}</DIV></ng-template>
    </DIV>
    <DIV CLASS="col col-2 col-lg-2  localetext">{{ entry.user_status?.current_activity_start_time_as_string() }}</DIV>
    <DIV CLASS="col col-2 col-lg-2 localetext">
      <div [ngClass] = "{'blink': entry.user_status?.current_activity_duration_in_seconds }">{{ entry.user_status?.current_activity_duration() }}</div>
      <div *ngIf="entry.user_status?.current_activity_downtime_in_seconds; then currentDowntime"></div>
          <ng-template #currentDowntime><DIV CLASS="downtime"> {{ entry.user_status?.current_activity_downtime() }}</DIV></ng-template>
    </DIV>
    <DIV CLASS="col col-2 col-lg-1 localetext">
      <div *ngIf="entry.user_status?.activity_permitted">
        <I class="fas fa-check active"></I>
      </div>
      <div *ngIf="! entry.user_status?.activity_permitted">
        <I class="fas fa-times inactive"></I>
      </div>
    </DIV>
    <DIV CLASS="col col-2 col-lg-3 localetext">
      <ul>
        <li *ngFor="let reason of entry.user_status?.reasons">
          {{ reason }}
        </li>
      </ul>
    </DIV>
  </DIV>
</div>
