<nav class="navbar navbar-expand-md bg-body-tertiary rounded">
  <div class="container-fluid">
    <a class="navbar-brand col-lg-2 me-0" href="#">
      <img alt="Brand" src="assets/icons/icon-baby-panda-128x128.png" WIDTH="24">&nbsp;Little&nbsp;Brother NG
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">

      <ul class="nav navbar-nav  d-lg-flex col-lg-8">
        <li class="nav-item"><a class="nav-link active" routerLink="/status">Status</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/users">Users</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/devices">Devices</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/topology">Topology</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
      <span class="navbar-text">
        Signed in as <CODE>{{ activeUser }}</CODE>
      </span>
      </div>
      <div class="d-lg-flex col-lg-1 justify-content-lg-end">
        <div (click)="onLogout()" class="btn btn-default" title="Logout">
          <I class="fas fa-sign-out-alt"></I>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
