<app-helpers></app-helpers>
  <div class="d-flex min-vh-100 justify-content-center align-items-center">
  <form class="form-signin col-12" (ngSubmit)="onLogin()" novalidate>
    <IMG CLASS="mx-auto d-block" SRC="assets/icons/icon-baby-panda-128x128.png">
    <div class="h2 fw-normal text-center">
      Little Brother
    </div>
    <div class="form-group">
      <div *ngIf="message">
        <div class="alert alert-warning">
        {{ message }}
        </div>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username"
               name="username" autofocus="" required="" id="username">
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password"
               name="password" required="" id="password">
        <label for="password">Password</label>
      </div>

    </div>
    <button type="submit" class="btn btn-default btn-lg btn-primary btn-block w-100 py-2">Login</button>
  </form>
</div>
