<form [formGroup]="adminOverrideForm" (ngSubmit)="updateRuleOverride()">
    <DIV CLASS="row bg-warning-subtle" (keyup.enter)="updateRuleOverride()">
        <DIV CLASS="col col-2">
        </DIV>
        <DIV CLASS="col col-1 align-self-center">
        override
        </DIV>
        <DIV CLASS="col col-2 align-self-center">
            <input id="min_time_of_day" type="text" [formControl]="min_time_of_day" size="5">
            <div *ngIf="min_time_of_day.errors?.['pattern']">
                <div class="alert alert-danger" role="alert">
                    Time must be given as HH:MM!
                </div>
            </div>
        </DIV>
        <DIV CLASS="col col-2 align-self-center">
            <input id="max_time_of_day" type="text" [formControl]="max_time_of_day" size="5">
            <div *ngIf="max_time_of_day.errors?.['pattern']">
                <div class="alert alert-danger" role="alert">
                    Time must be given as HH:MM!
                </div>
            </div>
        </DIV>
        <DIV CLASS="col col-1 align-self-center">
            <input id="max_time_per_day" type="text" [formControl]="max_time_per_day" size="6">
            <div *ngIf="max_time_per_day.errors?.['pattern']">
                <div class="alert alert-danger" role="alert">
                    Duration must be given as NNhNNm!
                </div>
            </div>
        </DIV>
        <DIV CLASS="col col-1 align-self-center">
            <input id="min_break" type="text" [formControl]="min_break" size="6">
            <div *ngIf="min_break.errors?.['pattern']">
                <div class="alert alert-danger" role="alert">
                    Duration must be given as NNhNNm!
                </div>
            </div>
        </DIV>
        <DIV CLASS="col col-1 align-self-center">
            <input id="max_activity_duration" type="text" [formControl]="max_activity_duration" size="6">
            <div *ngIf="max_activity_duration.errors?.['pattern']">
                <div class="alert alert-danger" role="alert">
                    Duration must be given as NNhNNm!
                </div>
            </div>
        </DIV>
        <DIV CLASS="col col-1 align-self-center">
            <!-- https://angular.io/api/forms/CheckboxControlValueAccessor -->
            <input id="free_play" type="checkbox" formControlName="free_play">
        </DIV>
        <DIV CLASS="col col-1 align-self-center">
            <BUTTON 
                [disabled]="adminOverrideForm.pristine || adminOverrideForm.invalid"
                id="save" class="btn btn-save" type="submit" name="submit" title="Save overide">
                <I class="fas fa-save"></I>
            </BUTTON>
        </DIV>
    </DIV>
</form>
